/* App.css */
#root {
    max-width: 1280px;
    width: 100%;
    padding: 2rem;
}

#app-body {
    width: 100%;
    padding: 2rem;
}

.card {
    padding: 2em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #00000080;
    z-index: 100;
}

.modal-content {
    position: relative;
    background-color: var(--modal-background-color);
    padding: 2em;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.form-control label {
    margin-bottom: 0.5em;
}

input,
textarea,
select {
    padding: 0.8em;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

input[type="color"] {
    padding: 0;
    border: none;
}

.buttons-container {
    display: flex;
    place-items: center start;
    gap: 1em;
}

.todos-container-section {
    margin: 5em 0;
}

.todo-container-dragged-over {
    transform: scale(1.05);
    transition: all 0.25s;
    opacity: 0.5;
}

.todos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.todo-card {
    padding: 2em;
    background-color: var(--input-background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3px;
    width: 80%;
    transition: all 0.25s;
    filter: drop-shadow(0 0 10px #2b2b2d2a);
}
.todo-card:hover {
    filter: drop-shadow(0 0 10px var(--color-backdrop));
    transform: scale(1.02);
}

.todo-card:has(.todo-status.todo-status-completed) {
    filter: grayscale(1);
    opacity: 0.6;
}

.todo-card:has(.todo-status.todo-status-completed):hover,
.outdated {
    filter: grayscale(1) drop-shadow(0 0 10px var(--color-backdrop));
    opacity: 0.6;
}

.todo-title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.todo-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.todo-card .status-and-date {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-status {
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 0.8em;
    opacity: 0.6;
}

.todo-status.todo-status-completed {
    background-color: var(--todo-status-completed);
    color: #000;
}

.todo-status.todo-status-pending {
    background-color: var(--todo-status-pending);
    color: var(--color-white);
}

.todo-status.todo-status-in-progress {
    background-color: var(--todo-status-in-progress);
    color: #000;
}

/* Tablet */
@media (min-width: 768px) {
    .modal-content {
        width: 70%;
        margin: 0 auto;
    }
    .todo-card {
        width: 300px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .modal-content {
        width: 50%;
        margin: 0 auto;
    }
    .todo-card {
        width: 350px;
    }
}
